*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(255, 255, 255);
    color: black;
}
#content{
    border: 1px solid black;
    display: block;
    margin: 2rem auto;
    width: 50%;
    padding:1rem 5rem;
}

#stuid{
    text-align: center;
    margin: 2rem 1rem;
}
#bookid{
    text-align: center;
    margin: 2rem 2rem;
}

#stuid input{

    width: 50%;
    display: blocks;
}

#bookid input{
    width: 50%;
    display: blocks;
    margin:0.8rem;
}
label{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
.btn1{
    background-color: rgb(241, 121, 171);
    padding: 4px 17px;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 7rem; 
 }
.btn{
   background-color: rgba(245, 157, 248, 0.966);
   padding: 4px 17px;
   font-size: 13px;
   font-weight: 400;
   border: 1px solid black;
   border-radius: 5px;
   margin-left: 14rem; 
}
h1{
    text-align: center;
    font-size: 25px;
    font-weight: 600px;
    font-family: Verdana, Geneva, Tahoma, sans-serifsss;
}